<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to The Eclectic Book Club App, <%= @user.first_name %></h1>
    <p>
      You have been successfully signed up to The Eclectic Book Club app, where you can vote in polls and view meet up
      information.
      </br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
  </body>
</html>
