<%= link_to edit_poll_path(poll), class: "box" do %>
  <h3 class="is-size-3"><%= poll.name %></h3>
  <p class="call-to-action">Voting is open, click here to vote!</p>
  </br>
  <h4 class="is-size-4">Book options:</h4>
  <% if poll.user_book_votes %>
    <%= render "shared/book_options_list", books: poll.books %>
  <% else %>
    <p>TBD</p>
  <% end %>
<% end %>
