<%= link_to edit_poll_path(poll), class: "box" do %>
  <h3 class="is-size-3"><%= poll.name %></h3>
  <p class="call-to-action">Voting is open, click here to vote!</p>
  </br>
  <h4 class="is-size-4">Book options:</h4>
  <% poll.books.each do |book| %>
    <p class="book-title-in-poll">
      <%= book.title %>
    </p>
  <% end %>
<% end %>
