<td id="admin-book-options" class="pt-4">
  <%= check_box("book_id", book.id) %>
  <label>Add book to new poll</label>
</td>
<td class="pt-4">
  <%= link_to(
    book_path(book),
    method: :delete,
    data: {
      confirm: "#{book.title} will be removed. Are you sure?"
    },
    class: "button is-danger is-small is-rounded"
  ) do %>
    <span class="icon is-large">
      <i class="fas fa-times"></i>
    </span>
    <span>Delete book</span>
  <% end %>
</td>
