<div class="container">
  <h2 class="title is-2">Create New Event</h2>
  <%= form_with model: @event do |form| %>
    <div class="field">
      <label class="label">Event Name:</label>
      <%= form.text_field :name, class: "input" %>
    </div>
    <%= render "shared/new_poll_and_books", form: form %>
    </br>
    </br>
    </br>
    <%= form.submit class: "button is-success is-light is-rounded is-medium" %>
    <button type="button" class="button is-danger is-light is-rounded is-medium">Cancel</button>
  <% end %>
</div>
