<div class="section">
  <% @polls.each do |poll| %>
    <%= link_to poll, class: "box" do %>
      <h2 class="title">
        <%= poll.name %>
      </h2>
      <% poll.books.each do |book| %>
        <p>
          <%= book.title %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>
