<div class="section">
  <% @polls.each do |poll| %>
    <div class="container">
      <h2 class="title">
        <%= poll.name %>
      </h2>
      <% poll.options.each do |option| %>
        <p>
          <%= option.name %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
