<div class="container">
  <h2 class="title is-2">Create New Books</h2>
  <%= form_with model: @book do |book_form| %>
    <%= fields_for "books[]", @book do |form| %>
      <%= render "shared/add_books", form: form %>
      </br>
      </br>
      </br>
    <% end %>
    <%= book_form.submit class: "button is-success is-rounded is-normal", value: "Create Books" %>
    <button type="button" class="button is-danger is-rounded is-normal">Cancel</button>
  <% end %>
</div>
