<nav class="navbar is-light is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-start">
    <div class="navbar-brand">
      <img src="/logo.jpg">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      </a>
      <h2 id="app-title" class="title is-2">DCQEBC</h2>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <%= link_to "Create Poll", new_poll_url, class: "navbar-item" %>
      <% if !logged_in? %>
        <a class="navbar-item" href='#'>Log in</a>
      <% else %>
        <a class="navbar-item" href='#'>Log out</a>
      <% end %>
    </div>
  </div>
</nav>
